* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#home-img {
    display: inline;
}

ul {
    display: inline;
    text-align: center;
}

.nav-items {
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    background-color: blanchedalmond;   
}

.nav-items a{
    color:brown;
    font-weight: bold;
}

@media screen and (max-width: 690px){

    ul {
        text-align: left;
    }

    .nav-items {
        display: block;
        width: 70px;
    }
}